<?xml version="1.0"?>
<config>
  <modules>
    <Fourtek_ImageZoom>
      <version>0.1.0</version>
    </Fourtek_ImageZoom>
  </modules>
  <frontend>
    <routers>
      <imagezoom>
        <use>standard</use>
          <args>
            <module>Fourtek_ImageZoom</module>
            <frontName>imagezoom</frontName>
          </args>
      </imagezoom>
    </routers>
		<layout>
		  <updates>
			<imagezoom>
			  <file>imagezoom.xml</file>
			</imagezoom>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <imagezoom>
        <class>Fourtek_ImageZoom_Helper</class>
      </imagezoom>
    </helpers>
	<blocks>
	  <imagezoom>
		<class>Fourtek_ImageZoom_Block</class>
	  </imagezoom>
	</blocks>
  </global>
</config> 