<?xml version="1.0"?>
<config>
	  <tabs>
		<imagezoom translate="label" module="imagezoom">
            <label>Fourtek imagezoom</label>
            <sort_order>0</sort_order>
        </imagezoom>
	  </tabs>
	  <sections>
		<imagezoom  translate="label" module="imagezoom">                    
		<label>Image magnifier</label>
		<tab>imagezoom</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <imagezoom translate="label"> 
					  <label>Zoom Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <imagezoom translate="label">
                            <label>Enable/Desable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </imagezoom>
					   </fields>
					   </imagezoom>
					</groups>
					<groups>
				      <configurations translate="label"> 
					  <label>Zoom Size Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <zoomheight translate="label">
                            <label>Zoom Height</label>
                            <frontend_type>text</frontend_type>
                            
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </zoomheight>
					   </fields>
					   <fields>
                          <zoomwidth translate="label">
                            <label>Zoom Width</label>
                            <frontend_type>text</frontend_type>
                            
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </zoomwidth>
					   </fields>
					   </configurations>
					</groups>
					<groups>
				      <imagesetting translate="label"> 
					  <label>Image Size Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <imageheight translate="label">
                            <label>Image Width</label>
                            <frontend_type>text</frontend_type>
                            
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </imageheight>
					   </fields>
					   <fields>
                          <imagewidth translate="label">
                            <label>Image Hight</label>
                            <frontend_type>text</frontend_type>
                            
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </imagewidth>
					   </fields>
					   </imagesetting>
					</groups>
		</imagezoom>
	  </sections>
</config>
